body,h1,ul,li{
    margin: 10;
    padding: 30;
}




body{
    background:#DAA520;
    font-family: sans-serif;
	 width: 1100px;
	
	
		background-color:#808080;

	background:url(../pages/images/234.png) #252525;
    background-size: cover;    /*arka planı ekrana sığdırdı*/
	background-repeat:no-repeat;
	background-attachment: fixed; /*fotoyu sabit bıraktı*/
	}	
	
}
p{
	color: black;             
	font-size: 17px;
	font-family: sans-serif;
 margin: 20px 40px;

	

    
}
h3{
	color:black	;
	font-size: 20px;
background-color:	#A9A9A9;
opacity:0.7;
	   text-align:center;
	}
	

	
	

	
h2{
	color:	#696969	;
	font-size: 25px;
	text-decoration:underline;
	font-style: italic;
	

	
	
}

 
.sayfa{
    width: 1100px;
    margin:20px auto;
	
}
 
#baslik{
	 margin-top: 100px;
   text-align:center;
    font-size: 2.0em;             /*java başlığı*/
    color: #696969;
	text-shadow: 2px 2px 3px #A9A9A9;
    text-decoration:none;
	font-style: italic;
}
 
#menu{
    float: l0;
    list-style: none;   /* anasayfanın teknolojiye göre konumu */
    margin-top: 3em;
	
}
 
 

 
#menu a:hover{
    background: #F0FFFF;             /*butonların üstünün rengi*/
    border-radius: 100px;         	/*rengin kavisi*/
	font-size: 20px;
	 
}
 
 
 
.orta{
    margin-top: 10px;                /*Arka plan*/
    background: #333;
 
}



